
AudioConverterService/bin/Debug/AudioConverterService.exe.config
AudioConverterService/bin/Debug/AudioPurge.exe.config
AudioConverterService/bin/Debug/EntityFramework.SqlServer.xml
AudioConverterService/bin/Debug/EntityFramework.xml
/.vs/AudioConverterService/v15/Server/sqlite3
/AudioConverterService/bin/Debug
/AudioConverterService/obj/Debug
/AudioPurge/bin/Debug
/AudioPurge/obj/Debug
/packages
/TrackdocDbEntityFramework/bin/Debug
/TrackdocDbEntityFramework/obj/Debug
/UpgradeLog3.htm
