<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="trackdocEntities" connectionString="metadata=res://*/trackdocEntities.csdl|res://*/trackdocEntities.ssdl|res://*/trackdocEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=trackdoc;user id=tdworker;password=%head+jump+COAT%;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="trackdocEntities" connectionString="metadata=res://*/trackdocEntities.csdl|res://*/trackdocEntities.ssdl|res://*/trackdocEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=trackdocdev.database.windows.net;Initial Catalog=trackdoc;User ID=tdworker;Password=%head+jump+COAT%;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="connectionString" value="user id=tdworker;password=%head+jump+COAT%;Initial Catalog=trackdoc;Data Source=127.0.0.1;Connection Timeout=0;" />-->
    <add key="connectionString" value="Data Source=trackdocdev.database.windows.net;Initial Catalog=trackdoc;User ID=tdworker;Password=%head+jump+COAT%;Connection Timeout=0;" />
    <add key="idleLoopsNo" value="60" />
    <add key="audioPurgeCutoffInDays" value="-1" />
    <add key="verboseLoggingEnabled" value="false" />

    <!--<add key="ffmpegPath" value="C:\Program Files (x86)\FFMPEG\ffmpeg.exe" />-->
    <!--<add key="ffmpegPath" value="C:\Program Files\ffmpeg-20160628-c0cb53c-win64-shared\bin\ffmpeg.exe" />-->
    <!--<add key="ffmpegPath" value="C:\Users\Windows10\Desktop\ffmpeg-20190620-86f04b9-win64-static\ffmpeg.exe" />-->
    <add key="ffmpegPath" value="ffmpeg\ffmpeg.exe" />
    <add key="googleStorageBucketName" value="zytestsr2" />
    <!--<add key="googleServiceAccountKeyPath" value="C:\Users\mdegen.ZYDOCDC\Desktop\GoogleServiceAccountKey.json" />-->
    <add key="googleServiceAccountKeyPath" value="Google\GoogleServiceAccountKey.json" />
    <add key="encodingQuality" value="-q:a 0" />
    <add key="compressToOpusForSpeechRec" value="true" />
    <add key="speechRecognitionMaxAlternatives" value="5" />
    <add key="olympusKey" value="" />
    <!--<add key="mailServer" value="192.254.254.39" />-->
    <add key="mailServer" value="" />
    <add key="mailPort" value="25" />
    <add key="mailSubject" value="Audio Processor Service Notification" />
    <add key="mailFrom" value="Audio_Converter_Service@zydoc.com" />
    <add key="mailTo" value="liang.zhao@zydoc.com" />
    
    <add key="mailIgnoreFilterDelimiter" value=";;" />
    <add key="mailIgnoreFilters" value="          Error setting option sample_fmt to value (null).;;          Some other error you don't want to receive emails about.;;     " />
    
    <add key="outputPath" value="C:\NetShare\" />
    <!--<add key="outputPath" value="\\DEVMEDWINAPP\NetShare\" />-->
    <add key="outputPathIsRemote" value="False" />
    <add key="tempDirectoryPath" value="C:\Temp\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AutoPunctuationApiUrl" value="https://srpunctuationpostproc.azurewebsites.net/input" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.1.0" newVersion="1.36.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.1.0" newVersion="1.36.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.1.0" newVersion="1.36.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.1.0" newVersion="1.36.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Grpc" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.CommonProtos" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Storage.v1" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.1.1389" newVersion="1.36.1.1389" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>